<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recommandations Séries</title>
        <link rel="stylesheet" href="/static/css/PageAccueil.css">
        <link rel="stylesheet" href="/static/css/navbar.css">
    </head>
    <body>
        {% include 'components/navbar.html' %}

        <div class="container" style="margin-top: 90px;">

            <!-- SECTION UNIQUEMENT POUR UTILISATEUR CONNECTÉ -->
            <div id="personal-section" style="display:none;">
                <h2 class="subtitle">Recommandations pour vous</h2>
                <div class="series-grid" id="personal-container"></div>
            </div>

            <!-- SECTIONS PUBLIQUES -->
            <h2 class="subtitle">Les mieux notées</h2>
            <div class="series-grid" id="top-rated-container"></div>

            <h2 class="subtitle">Les plus populaires</h2>
            <div class="series-grid" id="trending-container"></div>

            <h2 class="subtitle">Les meilleurs prix</h2>
            <div class="series-grid" id="awards-container"></div>
        </div>

        <script src="/static/js/PageRecommandation.js"></script>
    </body>
</html>