<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moteur de Séries</title>

    <link rel="stylesheet" href="/static/css/PageAccueil.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>

<body>

    {% include 'components/navbar.html' %}

    <div class="container" style="margin-top: 90px;">
        <h1><span class="highlight">Moteur de Séries</span></h1>

        <h2 class="subtitle">Nos Séries</h2>

        <div class="series-grid" id="series-container"></div>
    </div>

    <!-- Appel du JS externe -->
    <script src="/static/js/PageAccueil.js"></script>

</body>
</html>
