<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes favoris</title>

    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/PageFavoris.css">
</head>
<body>

    {% include 'components/navbar.html' %}

    <div class="favoris-container">
        <h1>Mes séries favorites</h1>

        <div id="favorisContent">
        </div>
    </div>

    <script src="/static/js/PageFavoris.js"></script>
</body>
</html>
