<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - Moteur de Séries</title>
    <link rel="stylesheet" href="/static/css/PageConnexion.css">
</head>
<body>

    <div class="background">
        <div class="overlay"></div>

        <div class="login-container">
            <h1 class="login-title">S’identifier</h1>

            <form id="loginForm" class="login-form">
                <input type="text" id="email" placeholder="Email ou identifiant" required />
                <input type="password" id="password" placeholder="Mot de passe" required />
                <button type="submit" class="login-btn">Se connecter</button>
                <p id="loginMessage" class="message"></p>
            </form>

            <div class="help-links">
                <p>Vous n’avez pas encore de compte ? <a href="/inscription">Inscrivez-vous !</a></p>
            </div>
        </div>
    </div>

    <script src="/static/js/login.js"></script>

</body>
</html>
